<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Auto2FA - 2FA but e-mails instead of passwords">
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <title>Auto2FA - Home</title>
</head>
  <body>
    <div class="ui massive inverted borderless static menu">
      <div class="ui container">
        <a class="header item" href="/">Auto2FA</a>
        <a class="item" href="/about">About</a>
      </div>
    </div>
    <div class="ui center aligned grid">
      <div class="ui container formcontainer">
        <center>
            <h1 class="ui huge header">
                Sign in
            </h1>
        </center>
        <!-- show any messages that come back with authentication -->
        <% if (smessage && smessage.length > 0) { %>
            <div class="ui success message">
              <div class="header">
                Login successful
              </div>
              <a href="auth/<%= smessage %>">Authenticate here</a>
            </div>

            <%} else if(emessage && emessage.length > 0) {%>
            <div class="ui error message">
              <div class="header">
                Login failed
              </div>
              <p><%= emessage %></p>
            </div>
        <% } %>
        <br />
        <form action="/login" method="POST" class="ui large form">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i><input name="email" placeholder="E-mail address" type="text" />
            </div>
          </div>
          <center>
            <button class="ui large primary submit button">
            Login / signup
            </button>
          </center>
        </form>
      </div>
    </div>
    <script src="/static/dist/semantic-ui/semantic.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <style type="text/css">
      body {
        background-color: #eee;
      }

      .ui.container.formcontainer {
        margin-top: 6em;
        max-width: 22em !important;
      }
    </style>
    <script>
      $(document)
        .ready(function() {
          $('.ui.checkbox').checkbox();
          $('.ui.form')
            .form({
              fields: {
                email: {
                  identifier  : 'email',
                  rules: [
                    {
                      type   : 'empty',
                      prompt : 'Please enter your e-mail'
                    },
                    {
                      type   : 'email',
                      prompt : 'Please enter a valid e-mail'
                    }
                  ]
                },
              },
              inline: true,
              on: 'blur'
            })
          ;
        })
      ;
    </script>
  </body>
</html>
