<html>
    <body>
        <p>You're logged in. Scan this QR code for 2FA to log in later</p>
        <img src="<%=data%>">
        <a href="/">Click here to go to the home page</a>
    <body>
</html>
